// font-family: 'Arapey', serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Abhaya Libre', serif;

// $color--action: #D9CD3D;
$color--action: #4A90E2;

body {
  background: #1E1F20;
}

.grid__flexbox {
    display: flex;
}

.container {
  max-width: 1020px;
  padding: 0 10px;
  margin: 0 auto;
}

.bg {
  background-image: url("../img/background-flat.png");
  background-size: cover;
  height: 100vh;
  margin-bottom: 50px;
}

// HEADER BLOCK

.header {
  padding-top: 140px;
}

.header__image--logo {
  padding: 0 15px 0 0;
  margin: 5px 0 0 0;
  #logo {
    fill: $color--action;
  }
}

.header__headline {
  margin: 0;
  font-family: 'Abhaya Libre', serif;
  font-weight: 600;
  color: #FFF;
  font-size: 40px;
}

.header__subheadline {
  margin-top: 10px;
  width: 620px;
  font-family: 'Arapey', serif;
  font-weight: 400;
  font-size: 26px;
  color: white;
}

.header__subheadline--italic {
  font-style: italic;
}

.header__subheadline--link {
  text-decoration: none;
  color: $color--action;
  transition: background 0.3s ease-in-out;
  &:hover {
    background: darken($color--action, 40%);
  }
}

.action-icons {
  font-size: 26px;
  color: white;
  list-style-type: none;
  float: right;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    a {
      position: relative;
      top: 0;
      padding: 0 10px;
      text-decoration: none;
      color: inherit;
      transition: all 0.3s ease-out;
      &:before {
        position: absolute;
        bottom: 0;
        left: 10px;
        display: block;
        content: '';
        width: 50%;
        height: 2px;
        background: rgba(255,255,255,0.5);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        top: -10px;
        padding-bottom: 10px;
        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.back-to-main {
  font-size: 26px;
  color: white;
  list-style-type: none;
  float: left;
  i {
    padding: 0 10px 0 0;
  }
  a {
    color: $color--action;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-style: italic;
  }
}

// CONTENT BLOCK

.content {
  margin: 0 0 50px 0;
}

.content__cover-image {
  max-width: 100%;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.6)
}

.content__segment {
  margin: 25px 0;
}

.content--header {
  padding: 0 0 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: $color--action;
  text-transform: uppercase;
}

.content--title {
  margin: 0;
  font-family: 'Arapey', serif;
  font-weight: 400;
  font-size: 36px;
  color: #FFF;
}

.content--link {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(255,255,255,0);
  transition: border-bottom 0.2s ease-in-out;
  &:hover {
    border-bottom: 2px solid $color--action;
  }
}

.content--subtitle {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-style: italic;
  color: #FFF;
  opacity: 0.6;
  text-transform: uppercase;
}

.content__copy {
  font-size: 18px;
  color: white;
  p {
    font-family: 'Arapey', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.357;
    color: white;
    a {
      text-decoration: none;
      color: $color--action;
      transition: background 0.3s ease-in-out;
      &:hover {
        background: darken($color--action, 40%);
      }
    }
  }
}

.content__gallery {
  img {
    max-width: 100%;
    margin: 25px 0;
  }
}
